@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}
}

a.active {
	color: rgb(232, 232, 141);
}

.present {
	color: lightgreen;
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: .3rem;
}

.past {
	color: rgb(255, 211, 211);
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: .3rem;
}

.participle {
	color: yellow;
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: .3rem;
}

.verbDataLine {
	margin-bottom: .9rem;
}