@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		font-variant: small-caps;
	}

	.buttonNormal {
		@apply rounded py-2 font-sans bg-gray-300 text-sm px-5;
	}
	.buttonNormalDarker {
		@apply rounded py-[.1rem] font-sans bg-gray-400 text-sm px-2 hover:opacity-90;
	}

	.buttonManageArea {
		@apply w-full rounded py-2 font-sans;
	}

	.buttonNotLearned {
		@apply bg-[#CBD5E1];
	}

	.buttonLearned {
		@apply bg-[#26ba1e];
	}
}

a.active {
	color: rgb(232, 232, 141);
}

.present {
	color: lightgreen;
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: 0.3rem;
}

.past {
	color: rgb(255, 211, 211);
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: 0.3rem;
}

.participle {
	color: yellow;
	font-weight: bold;
	background-color: #333;
	padding: 2px 4px;
	border-radius: 0.3rem;
}

.verbDataLine {
	margin-bottom: 0.9rem;
}

form .formRow {
	label {
		font-size: 1rem;
		font-variant: small-caps;
		display: block;
		opacity: 0.6;
	}
	input {
		width: 100%;
		font-size: 1.2rem;
	}
}

.verbLearned {
	background-color: #26ba1e;
}

@media print {
	.no-break {
		page-break-inside: avoid;
	}
}

table.spanishVerb {
	width: 100%;
	border-collapse: collapse;
	thead {
		background-color: #f2f2f2;
	}
	th {
		border: 1px solid #ddd;
		padding: 0.3rem 1rem;
	}
	th.cornerCell {
		border: 1px solid #ddd;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}
	tbody {
		td.data {
			background-color: #ccc;
		}
	}
}

.data {
	font-family: monospace;
	color: brown;
}

.tense_2PRES {
	color: rgb(0, 90, 0);
}

.tense_2IMPE {
	color: rgb(156, 0, 0);
}

.tense_2PRET {
	color: rgb(212, 0, 0);
}

.tense_2PRPE {
	color: rgb(197, 95, 0);
}

.tense_2PAPE {
	color: rgb(112, 54, 0);
}

.verbBlock sup.zero {
	color: #aaa;
	margin-left: 0.15rem;
}

.verbBlock sup.hasValue {
	color: #000;
	font-weight: bold;
	margin-left: 0.15rem;
}
